.recommended-friends {
  padding: 25px 0;
  margin: var(--find-part-margin);
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends span {
  display: block;
  padding: 100px 0;
  text-align: center;
  font-size: 18px;
  color: var(--often-color);
}
.recommended-friends__title {
  font-size: 15px;
  color: var(--often-color);
}
.open-chat {
  margin: var(--find-part-margin);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}
.open-chat__title {
  opacity: 0.6;
}
.open-chat span {
  opacity: 0.5;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__members {
  display: flex;
  margin: 10px 0px;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__title {
  font-size: 20px;
  margin-bottom: 3px;
}
.open-post__hashtags {
  opacity: 0.6;
  font-size: 17px;
}
.open-post__members .divider {
  height: 15px;
  background-color: var(--often-color);
  width: 1px;
  margin: 0px 5px;
}
.open-post__members-status {
  color: #ffb0b4;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.open-post__heart-count span {
  margin-left: 4px;
  font-size: 17px;
}
#red-dot-fam {
  position: relative;
}
#red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#red-dot-fam i {
  color: black;
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
    color: tomato;
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

.fa-heart {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
