#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 18px 0px;
  font-size: 18px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 0px 10px;
}
